.videoWrapper{
    margin-top:3%;
}

.borderBottom{
    border-bottom: 0.5px solid black;
}
.marginTop{
    padding-top:65px;
}

.boldText{
    font-size:18px;
    font-weight:bold;
}

.imgCustom{
    max-height:480px;
    max-width:480px;
}