
@{
    ViewBag.Title = "Métodos de Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <!--Mis links Css-->
        <link href="~/Content/CSS/GeneralStyles.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/CSS/pago.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/CSS/MainMenu.css" type="text/css" rel="stylesheet" />

    </head>
<body>
    <div class="container container_background bodyProductos">
        <div class="white_background2" style="margin-top:2%;">
            <h1>Procedimiento para realizar la compra:</h1>
            <div class="marginTexto">
                <ol>
                    <li>Envíe un mensaje de Whatsapp al número ___________, indicando su nombre, artículo que desea y dirección exacta de entrega.</li>
                    <li>Se le responderá indicándole la disponibilidad del producto y número de cuentas en las que puede realizar el pago; o si lo prefiere, puede hacerlo por medio de SinpeMovil.</li>
                    <li>Envíe al mismo número el comprobante de pago, puede ser foto, captura de pantalla u otro. </li>
                    <li>El artículo se reservará por un plazo de 12 horas para que pueda cancelarlo. De no realizar el pago en este tiempo, se cancelará la orden. </li>
                    <li>El artículo le será enviado a través de Correos de Costa Rica. </li>
                </ol>
            </div>
            <h1>¡Todos nuestros precios incluyen impuestos y envío gratis! </h1>
            <div class="contenedorImagenPerro">
                <img src="~/Images/Decoration/adorable-animal-blur-406014.jpg" class="imgPerro" alt="Alternate Text" />
            </div>

        </div>


    </div>
</body>