
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!--Links para bootstrap-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Mis links Css-->
    <link href="~/Content/CSS/GeneralStyles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/CSS/Productos.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container container-custom pt-60">
        <img src="~/Content/Imagenes/perro-jugando-con-pelota-1.jpg" alt="Alternate Text" class="img-size img-fluid" />
        <h1>Nivel 1</h1>

        <div class="container page-wrapper row">
            <div class="page-inner col-sm-3  border-delineado">
                <div class="row">
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="~/Images/Products/juguete-1.jpg" alt="">

                            <div class="img-info">
                                <div class="info-inner">
                                    <span class="p-name">Juguete</span>
                                    <span class="p-company">aaaaaa</span>
                                </div>
                                <div class="a-size">Nivel : <span class="size">1</span></div>
                            </div>
                        </div>

                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>

                            <a class="cart" href="#">
                                <span class="price">$120</span>
                                <span class="add-to-cart">
                                    <span class="txt">Ver Detalles</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner col-sm-3 border-delineado">
                <div class="row">
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="~/Images/Products/juguete-1.jpg" alt="">
                            <div class="img-info">
                                <div class="info-inner">
                                    <span class="p-name">Juguete</span>
                                    <span class="p-company">aaaaaa</span>
                                </div>
                                <div class="a-size">Nivel : <span class="size">1</span></div>
                            </div>
                        </div>

                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>

                            <a class="cart" href="#">
                                <span class="price">$120</span>
                                <span class="add-to-cart">
                                    <span class="txt">Ver Detalles</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner col-sm-3 border-delineado size-card">
                <div class="row">
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="~/Images/Products/juguete-2.jpg" alt="">
                            <div class="img-info">
                                <div class="info-inner">
                                    <span class="p-name">Juguete</span>
                                    <span class="p-company">aaaaaa</span>
                                </div>
                                <div class="a-size">Nivel : <span class="size">1</span></div>
                            </div>
                        </div>

                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>

                            <a class="cart" href="#">
                                <span class="price">$120</span>
                                <span class="add-to-cart">
                                    <span class="txt">Ver Detalles</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <h1>Nivel 2</h1>
        <div class="container page-wrapper row">
            <div class="page-inner col-sm-3  border-delineado">
                <div class="row">
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="~/Images/Products/juguete-1.jpg" alt="">

                            <div class="img-info">
                                <div class="info-inner">
                                    <span class="p-name">Juguete</span>
                                    <span class="p-company">aaaaaa</span>
                                </div>
                                <div class="a-size">Nivel : <span class="size">2</span></div>
                            </div>
                        </div>

                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>

                            <a class="cart" href="#">
                                <span class="price">$120</span>
                                <span class="add-to-cart">
                                    <span class="txt">Ver Detalles</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner col-sm-3 border-delineado">
                <div class="row">
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="~/Images/Products/juguete-1.jpg" alt="">
                            <div class="img-info">
                                <div class="info-inner">
                                    <span class="p-name">Juguete</span>
                                    <span class="p-company">aaaaaa</span>
                                </div>
                                <div class="a-size">Nivel : <span class="size">2</span></div>
                            </div>
                        </div>

                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>

                            <a class="cart" href="#">
                                <span class="price">$120</span>
                                <span class="add-to-cart">
                                    <span class="txt">Ver Detalles</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner col-sm-3 border-delineado size-card">
                <div class="row">
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="~/Images/Products/juguete-2.jpg" alt="">
                            <div class="img-info">
                                <div class="info-inner">
                                    <span class="p-name">Juguete</span>
                                    <span class="p-company">aaaaaa</span>
                                </div>
                                <div class="a-size">Nivel : <span class="size">2</span></div>
                            </div>
                        </div>

                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>

                            <a class="cart" href="#">
                                <span class="price">$120</span>
                                <span class="add-to-cart">
                                    <span class="txt">Ver Detalles</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>